<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ember Ga" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ember Ga" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <script type="text/javascript">
      window.EmberENV = {FEATURES: {"query-params-new": true}};
      window.GaConfig = {
        clientId: "<%= ENV['GA_CLIENT_ID'] %>",
        apiKey: "<%= ENV['GA_API_KEY'] %>"
      }
    </script>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js' %>
    <% if Rails.env.development? %>
      <%= javascript_include_tag '//builds.emberjs.com/canary/ember.js' %>
    <% else %>
      <%= javascript_include_tag '//builds.emberjs.com/canary/ember.min.js' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
